
body{
background: grey;
font-family: Arial;
overflow: none;
}
.top{
position: fixed;
font-size:4vw;
left: 10vw;
margin:-10px;
color: lightgrey;
}
.logo{
position: fixed;
z-index: 7;
min-width: 200px;
width: 30vw;
top: 1vh;
left: 12vw;
}

.dates{
z-index: 5;
position: absolute;
font-size: 13px;
min-width: 1000px;
margin-top: 10px;
color: #000000;
padding: 6px;
font-family: Arial Narrow;

}
.dates span{
font-size: 20px;
color: white;

}
.dates2{
    display: none;
}
.plus :nth-child(1){
position: fixed;
color:#FF58C9;
}
.plus :nth-child(2){
position: fixed;
color:#FF07AE;
top: 68vh;
left: 80vw;
}
.plus :nth-child(3){
position: fixed;
color:#FF070A;
top: 10vh;
left: 50vw;
}
.plus :nth-child(4){
position: fixed;
color:#AE7DBD;
z-index: 20;
top: 94vh;
left: 40vw;
}
.plus :nth-child(5){
position: fixed;
color:#EBCB36;
z-index: 20;
top: 92vh;
left: 32vw;
}

.corps{
    display: inline-block;
position: fixed;
z-index :2;
top: 15vh;
height:90vh;
width: 100vw;
padding-left: 5vw;
overflow :none;
}
.corps p{
position: absolute;
z-index : 1;
color: black;
font-size:  13px;
padding-left : 24px;
padding-top : 15px;
padding-bottom :3px;
padding-right:3px;
margin : -15px;
border-radius: 8px;
top:20px;
left :27vw;
width:50vw;
background-color: #B2B2B2;
}
button{
    display: block;
position : relative;
z-index: 2;
font-size: 11px;
padding: 5px;
background-color: #A2A2A2;
border-radius: 8px;
color : #000000;
width: 20vw;
min-width : 160px;
}
button:hover{
background-color :#B8B68E;
}
button a {
color:white;
display: inline-block;
}
.bb span{
    color:white;
}
.enfant{
display : none;
}
.enfant .image{
z-index: 12;
position: fixed;
min-width:200px;
top : 64vh;
left: 57vw;
background: black;
border-radius: 8px;
}

.pied{
position: fixed;
margin:-10px;
padding: 3px;
top : 95vh; 
width: 100vw;
height: 70px;
background: linear-gradient(70deg, #000000 10%, 18%,#00FF8D 40%, #99FFF0 42%, 46%, #00FF8D 50%,#2E0758 60%, #141A28 63%, 68%, #2E0758 80%, #DF78C2);
box-shadow: inset 0px 1px 10px 20px grey;
font-size: 1vw;
color:white;
}
.random{
z-index: 9;
position :fixed;
top : 5vh;
left: 45vw;
width: 10vw;
min-width:  120px;
border: inset 2px #B71D1D;
background: #B71D1D;
border: inset 2px #FF00E1;
padding: 3px;
font-size: 13px;
color:#FF86D8;
}
.random:hover {
background: #FF2E25;
border: inset 2px #FF00E1;
cursor:zoom-in;
}
.random a {
text-decoration : none;
color:#FF86D8;
cursor:zoom-in;
}
.pied p{
position: fixed;
font-size: 13px;
left: 2.5vw;
top: 95vh;
}

.random2{
z-index: 9;
position :fixed;
top : 5vh;
left: 60vw;
width: 10vw;
margin-left: 13px;
min-width:  120px;
border: inset 2px #B71D1D;
background: #B71D1D;
border: inset 2px #FF00E1;
padding: 3px;
font-size: 13px;
color:#FF86D8;
}
.random2:hover {
background: #FF2E25;
border: inset 2px #FF00E1;
cursor:zoom-in;
}
.random2 a {
text-decoration : none;
color:#FF86D8;
cursor:zoom-in;
}




@media screen and (max-width: 1000px) and (min-height:1000px){

.plus{
font-size: 50px;
}
.plus :nth-child(2){
position: absolute;
color:#FF07AE;
top: 68vh;
left: 80vw;
}
.plus :nth-child(3){
position: absolute;
color:#FF070A;
top: 8vh;
left: 31vw;
}
.plus :nth-child(4){
position: absolute;
color:#20002A;
z-index: 20;
top: 84vh;
left: 40vw;
}
.plus :nth-child(5){
position: absolute;
color:#EBCB36;
font-size:30px;
z-index: 20;
top: 103vh;
left: 72vw;
}
.top{
    width: 50vw;
    font-size: 7em;
}
.logo{
width: 90vw;
top: 7vh;
left: 2px;

}
button {
position: relative;
width: 80vw;
padding: 10px;
margin-top: 15px;
font-size: 2.8em;
box-shadow:#C7C7C7 0px 10px 20px 10px;
border-radius: 8px;
border: none;
margin:4px;
}
.corps{
    background:black;
position:  fixed;
padding: 60px;
top :18vh;
margin: -30px;
width:1800px;
height: 70vh;
overflow-y: none;
overflow-x: scroll;
}
.corps p{
    position: relative;
margin: 10px;
border-radius: 8px;
box-shadow:#666666 0px 10px 20px 10px;
border: none;
left:10px;
font-size:4em;
min-width: 90vw;
width: 80vw;
overflow: scroll;
}
 
 .dates{
display: none;
 }

 .dates2{
 display: inline-block;
z-index: 5;
position: fixed;
top: 20px;
font-size: 2em;
width: 600px;
left: 70vw;
color: white;
font-family: Arial Narrow;
 }

.enfant .image{
position: relative;
top:10px;
left:20vw;
width:  500px;
background : black;
border: none;
box-shadow:#C0C0C0 0px 5px 20px 10px;
}
.entete span{
    position:  fixed;
line-height: 30px; 
font-size: 30px;
width: 100vw;
}

.pied{
position: fixed;
z-index:1;
font-size: 2.5em;
top:80vh;
height: 100vh;
width: 180vw;
margin:-50px;
}
.pied p{
    z-index:10;
    top:150vh;
    position: fixed;
    font-size:3em;
    color: lightgrey;
    padding:90px;
}
 
 .random{
 position: fixed;
    font-size: 40px ;
    z-index: 6;
    left:10px;
    width: 400px;
    top: 94vh;
    border: none;
    border-radius: 8%;
    box-shadow:#FF00E1 0px 5px 20px 10px;
 }
 .random2{
 position: fixed;
    font-size: 40px ;
    z-index: 6;
    width: 400px;
    top: 94vh;
    left:54vw;
    border: none;
    border-radius: 8%;
    box-shadow:#FF00E1 0px 5px 20px 10px;
 }
}

@media screen and (max-width: 400px) and (min-height:800px){
    .top{
    width: 50vw;
    font-size: 3em;
}

@media screen and (max-width: 300px) and (min-height:300px){
    .top{
    width: 45vw;
    font-size: 2em;
}
    .logo{
left: 1px;
width:70vw;
    }
}
}
